*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: aquamarine;
}
div.container{    
    width: 40%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% ,-50%);
    background-color: white;
    border-radius: 10px;
    padding: 50px 30px;
}
div.input_box{
    padding: 30px 25px;
}
input{
    padding: 5px;
    height: 40px;
    margin: 0px 0px 10px 0px;
}
input,
label,
button{
    font-size: 18px;
    font-weight: 800;
    justify-items: center;
}
button{
     width:100%;
     border: none;
     border-radius: 20px;
     margin: 20px 0px 10px 0px;
     background-color: aqua;
     border-radius: 20px;
     color: white;

 }